نیازمندی‌های کارجو:
- چیز‌هایی که باید از کارفرما بداند:
  - توضیح کاملی از موقعیت شغلی
  - نیازمندی‌های دقیق موقعیت شغلی مثل سه سال سابقه کار، کارت پایان خدمت، مدرک تحصیلی، جنسیت
  - چیز‌هایی که شرکت به منِ کارمند می‌دهد مثل بیمه، امریه، میان وعده، هدیه، حقوق، دورکاری آره یا نه
  - اطلاعات خود شرکت مثل تعداد کارمند، اعتبار شرکت، قدمت شرکت، سایت و ایمیل شرکت
  
- چیز‌هایی که از سایت انتظار داره:
  - سرچ کردن ساده‌ی موقعیت شغلی:
    - فیلتر کردن راحت کار‌ها بر اساس:
      - اسم شغل
      - نوع استخدام (کارآموز، جونیور و...)
      - حقوق
      - موقعیت مکانی
    - اطلاع دقیق از موقعیت درخواست استخدامش:
      - روزمه رو کارفرما:
        - دیده ندیده
        - قراره ببینه (بدستش رسیده یا نه)
        - قبول شده یا رد شده
        - دلیل رد شدنش چیه؟ (حتما بنویسن)
    - چیزایی که توی آگهی شغلی باید باشن:
      - تمام یا بخشی از چیزایی که توی (چیز‌هایی که باید از کارفرما بداند) هست. یک سری از این چیز‌ها توی پروفایل شرکت هست یک سری توی آگهی شغلی
    - موارد غیرضروری:
      - رزومه ساز نایس
      - 
